@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@200;300;400;500;600&family=Rochester&display=swap');

body {
    
    box-sizing: content-box;
    list-style: none;
    height : 100vh;
    margin: 0;
    background-color: #e9e8e3;
    
}



.wrapper {
    display: grid;
    height : 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

.navbar{
    display : flex;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 1.3em;
    letter-spacing: 0.2em;
    align-items: center;
    grid-area: 1 / 1 / 2 / 13;
}

.collection { 
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area:   2 / 1 / 12 / 3;
    border :  2px solid black;
    border-left: none;
    box-sizing: content-box;
    font-family: 'Rochester', cursive;
    font-size: 12em;
    overflow: hidden;
}

.collection-title{
    rotate: 270deg;
    margin-right: 20% ;
}

.responsive{
    width: 100%;
    height: auto;
}

.middle-picture { 
    grid-area:  2 / 3 / 12 / 9;
    
    border :  2px solid black;
    border-left: none;
    overflow: hidden;
 }
.preorder { 
    grid-area: 2 / 9 / 12 / 13;
    border :  2px solid black;
    border-left: none;
    border-right: none;
}
.social-media { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area:  12 / 1 / 13 / 9;
    border-right :  2px solid black;
    border-bottom :  2px solid black;
    font-family: 'Poppins', sans-serif;
    
}
.copyright { 
    grid-area: 12 / 9 / 13 / 13;
    border-bottom :  2px solid black;
} 